.adress {
    padding-left: 72px;



  &__label {
    display: block;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #9FADC2;
    margin-bottom: 8px;

  }

  &__content {
    display:block;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #3E3E3E;
    text-decoration: none;
    margin-bottom: 24px;

     &:hover {
    color: #888;
   }
  }

   @media (max-width: 743px) {
    padding-left: 20px;
   }



  @media (min-width: 1260px) {
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;

    &__label {
      margin-bottom: 0;

    }

    &__content {
      margin-bottom: 24px;

    }

  }
}
