.adress {
   padding: 80px 174px 80px 74px;

  &__label {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #9FADC2;
    padding-bottom: 8px;
  }

  &__content {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #3E3E3E;
    padding-bottom: 24px;
  }

   @media (max-width: 743px) {
    padding: 20px;


}
}
