@use "../utils/mixins" as mixins;

.button {
  @include mixins.text-style(16px, 700);

  text-decoration: none;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 56px;

  background-color: #F98921;
  border-radius: 8px;
  text-align: center;

  margin-left: 72px;
  margin-right: 72px;

  cursor: pointer;

  &:hover {
    background-color: #1B2129;
  }

  &:active {
    color: #FFF;
  }

  &--primary {
    background-color: #1B2129;
    height: 56px;

    @include mixins.text-style(16px, 900);

    letter-spacing: 0;
    margin: 32px 0 80px;
  }

  @media (max-width: 743px) {
    margin-left: 20px;
    margin-right: 20px;

    &--primary {
      height: 60px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (min-width: 1260px) {
    width: calc(34% - 120px);
    margin-left: 120px;
    padding-left: 48px;
    padding-right: 48px;

    &--primary {
      margin: 0;
      width: 100%;
    }
  }
}
