.button {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 56px;

  opacity: 1;
  background-color: #F98921;
  border-radius: 8px;
  text-align: center;
  margin-left: 72px;
  margin-right: 72px;



  &--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: #1B2129;
    border-radius: 8px;
    height: 56px;

    font-family: Manrope, sans-serif;
    font-weight: 900;
    font-style: Bold;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

   @media (max-width: 743px) {
    margin-left: 20px;
    margin-right: 20px;

    &--primary {
      height: 60px;
      margin-left: 0;
      margin-right: 0;
    }
}
}
