.gallery {
  width: 100%;
  margin-bottom: 16px;
  padding-left: 72px;
  padding-right: 72px;

  &__title {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    width: 100%;
    height: 34px;
    margin-bottom: 56px;
  }

  &__pictures {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 24px;
     margin-bottom: 16px;
  }

  &__image {
    width: 100%;
  }

  @media (max-width: 743px) {
    padding-left: 0;
    padding-right: 0;

    &__pictures {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:20px;
      padding-left: 20px;
      padding-right: 20px;
    }


    &__image {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    &__title {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
