.gallery {
  width: 100%;
  margin-bottom: 16px;

  &__title {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    width: 100%;
    height: 34px;
    margin-bottom: 56px;
  }

  &__pictures {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 24px;
     margin-bottom: 16px;
  }

  &__image {
    width: 100%;
  }

  @media (max-width: 743px) {
    &__pictures {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:20px;
      padding: 0;
    }


    &__image {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  @media (min-width: 744px) and (max-width: 1260px) {
     &__pictures {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap:20px;
      padding: 0;
    }


    &__image {
      width: 100%;
      min-width: 498px;
      min-height: 324px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }


}
}
