
.header {
  background-image: url("/src/images/header.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  box-sizing: border-box;

  &__icons {
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    display: flex;


    height: 18px;
    width: 18px;
  }
}
