.header {
  background-image: url("/src/images/header.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  padding-left: 0px;

  height: 100vh;
  box-sizing: border-box;

  &__title {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #fff;

    margin-right: auto;
    padding-bottom: 64px;
    padding-left: 72px;

  }


  @media (max-width: 743px) {
    display: grid;
    grid-template-columns:1fr auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    max-height: 100%;
    align-items: start;



    &__title {
      padding: 40px 20px;
      font-size: 36px;
      grid-column: 1 / 4;
      align-self: end;
    }
   }

  @media (min-width: 1260px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 36px;
    gap: 24px;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: 60px;
    padding-left: 120px;


    &__title {
      font-weight: 700;
      font-size: 56px;
      grid-column: 1 / 8;
      align-self: end;



    }
  }
}

