
.header {
  background-image: url("/src/images/header.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  min-height: 100vh;

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  &__title {
    display:flex;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    padding-bottom: 64px;
    padding-left: 72px;
    margin-top: auto;
  }

  @media (min-width: 1020px) {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    grid-template-rows: auto 1fr;
    column-gap: 24px;

    padding-left: 120px;
    padding-right: 120px;

    &__title {
      grid-column: 1 / 6;
      align-self: end;
      padding-bottom: 64px;
      padding-left: 0;
    }


  }


}
