@use "../utils/mixins" as mixins;

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  border-radius: 4px;
  box-sizing: border-box;

  &__title {
    @include text-style(18px, 700, 140%, #1B2129);

    text-transform: uppercase;
    width: 100%;
    padding-bottom: 8px;
    box-sizing: content-box;
  }

  &__text {
    @include text-style(16px, 400, 140%, #1B2129);

    width: 100%;
    padding-bottom: 12px;
    box-sizing: border-box;
  }

  &__price {
    @include text-style(16px, 700, 140%, #1B2129);

    width: 100%;
    box-sizing: border-box;
    padding-bottom: 40px;
  }

  &__image {
    width: 100%;
    padding-bottom: 24px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
