.main {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;


  &__content {
   padding-left: 72px;
   padding-right: 72px;
  }

   @media (max-width: 743px) {
    &__content {
      padding-left: 0;
      padding-right: 0;
    }

}
}



