.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;


  &__content {
   padding-left: 72px;
   padding-right: 72px;
  }

  @media (max-width: 743px) {
    &__content {
    padding-left: 20px;
    padding-right: 20px;
}
}
}


