.menu {
  background-color: #F9F9F9;
  padding-top: 24px;
  padding-left: 120px;
  padding-right: 124px;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block
  }

  &__icon {
    display: block;
  }

   &__logo-image {
    height: 24px;
    width: auto;
  }

  &__icon-image {
    height: 32px;
    width: 32px;
  }
}
