@use "../utils/mixins" as mixins;

.phone {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;

  &__label {
    @include text-style(12px, 700, 16px, #1B2129);

    letter-spacing: 2px;
    text-transform: uppercase;

    position: absolute;
    right: calc(100% + 10px);

    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);

    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;
  }

  &:hover .phone__label {
    align-items: center;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
