.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 56px;



  @media (max-width: 743px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 64px;
  }

}





