.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 56px;

  @media (min-width: 320px) and (max-width: 744px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    align-items: start;
  }

  @media (min-width: 744px) and (max-width: 1260px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 36px;
    gap: 24px;
    align-items: start;
    background-position: center center;
  }

}

