.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;

  &--button {
  width: 100%;
}

  @media (min-width: 1260px) {

    &--products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      width: 100%;
    }

    &--contact {

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      align-items: start;
      padding-left: 120px;
      padding-right: 120px;



      .adress {
        grid-column: 2;
        grid-row: 2 / 2;
      }


      .form {
        grid-column: 1;
        grid-row: 2 / span 2;
      }

    }
   }
}



