.summary {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  height: 416px;
  background-color: #FCFAEF;
  gap: 24px;


  &__text1 {
    flex: 1;
    padding-left: 73px;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    color: #1B2129;

  }

  &__text2 {
    flex: 1;
    padding-right: 74px;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    letter-spacing: 0.15px;

  }
}
