.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: start;
  background-color: #FCFAEF;
  padding: 120px 74px 120px 73px;
  box-sizing: border-box;

  &__text1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    color: #1B2129;
    margin: 0;
  }

  &__text2 {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #1B2129;
    margin: 0;
  }


  @media (max-width: 743px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 48px 20px;

    &__text1 {
      font-size: 32px;
    }

    &__text2 {
      padding: 0 4px 0 0;
    }
  }


  @media (min-width: 1260px) {
    padding: 120px;
    gap: 60px;

    &__text1 {
      font-size: 48px;
      line-height: 48px;
      max-width: 498px;
    }

    &__text2 {
      margin: 0;
    }
  }
}
