
.title {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;

  &--secondary {
    color: #1B2129;
    padding-top: 120px;
    padding-bottom: 56px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 40px;
  }

  &--third {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #1B2129;
    padding-bottom: 56px;
    padding-left: 72px;
    padding-top: 60px;
    width: 100%;
  }

  &--fourth {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0;
    color: #1B2129;
    padding-top: 64px;

  }


  @media (max-width: 743px) {
    padding-left: 20px;

    &--secondary {
      padding-top: 64px;
      padding-left: 20px;
      font-size: 32px;
    }

    &--third {
      font-size: 34px;
      padding-left: 20px;
    }

    &__fourth {
      padding-left: 72px;
      padding-top: 64px;
      font-size: 32px;
    }
  }

 @media (min-width: 1260px) {

    &--secondary {
      font-size: 48px;
      padding-left: 120px;
    }

    &--third {
      padding-left: 120px;
      padding-right: 0;
    }

    &--fourth {
      padding-left: 120px;
    }
  }
}
