
.title {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  width: 100%;
  max-width: 100vh;

  &--secondary {
    color: #1B2129;
    padding: 40px 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 32px;
  }

  &--third {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #1B2129;
    padding-bottom: 56px;
    padding-top: 60px;
    width: 100%;
  }

  &--fourth {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0;
    color: #1B2129;
    padding-left: 20px;
    padding-top: 64px;


  }


  @media (max-width: 743px) {


    &--secondary {
      font-size: 32px;
      padding-left: 0;
    }

    &--third {
      font-size: 34px;
      padding-left: 0;
    }

    &__fourth {
      padding-top: 64px;
      font-size: 32px;
    }
  }


  @media (min-width: 744px) and (max-width: 1260px) {

    &--secondary {
      grid-column: 1 / -1;
      margin-bottom: 32px;
      font-family: Manrope;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;

    }

    &--third {
      grid-column: 1 / -1;
      font-size: 48px;
      padding-left: 0;
    }

    &__fourth {
      grid-column: 1 / -1;
      font-size: 48px;
      padding-top: 64px;

    }


  }
}
