
.title {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  color: #fff;
  padding: 40px 20px;
  width: 600px;

  &--secondary {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #1B2129;
  }

  &--third {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #1B2129;
  }

  &--fourth {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    color: #1B2129;
  }
}
