/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  width: 100%;
  padding-right: 72px;
}
.title--secondary {
  color: #1B2129;
  padding-top: 120px;
  padding-bottom: 56px;
  padding-left: 72px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 40px;
}
.title--third {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1B2129;
  padding-bottom: 56px;
  padding-left: 72px;
  padding-top: 60px;
  width: 100%;
}
.title--fourth {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0;
  color: #1B2129;
  padding-top: 64px;
  padding-left: 72px;
  padding-bottom: 56px;
}
@media (max-width: 743px) {
  .title {
    padding-left: 20px;
  }
  .title--secondary {
    padding-top: 64px;
    padding-left: 20px;
    font-size: 32px;
  }
  .title--third {
    font-size: 34px;
    padding-left: 20px;
  }
  .title--fourth {
    padding-left: 20px;
    padding-top: 64px;
    font-size: 32px;
  }
}
@media (min-width: 1260px) {
  .title--secondary {
    font-size: 48px;
    padding-left: 120px;
  }
  .title--third {
    padding-left: 120px;
    padding-right: 0;
  }
  .title--fourth {
    padding-left: 0;
  }
}

.header {
  background-image: url("/src/images/header.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding-left: 0;
  height: 100vh;
  box-sizing: border-box;
}
.header__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #fff;
  margin-right: auto;
  padding-bottom: 64px;
  padding-left: 72px;
}
@media (max-width: 743px) {
  .header__title {
    padding: 40px 20px;
    font-size: 36px;
    grid-column: 1/4;
    align-self: end;
  }
}
@media (min-width: 1260px) {
  .header__title {
    font-weight: 700;
    font-size: 56px;
    grid-column: 1/8;
    align-self: end;
    padding-left: 120px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  width: 100%;
  opacity: 1;
  border-radius: 4px;
  box-sizing: border-box;
}
.items__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  color: #1B2129;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 8px;
  box-sizing: content-box;
}
.items__text {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  width: 100%;
  padding-bottom: 12px;
  box-sizing: border-box;
}
.items__price {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  width: 100%;
  padding-bottom: 56px;
  box-sizing: border-box;
}
.items__image {
  width: 100%;
  padding-bottom: 24px;
}

.gallery {
  width: 100%;
  margin-bottom: 16px;
  padding-left: 72px;
  padding-right: 72px;
}
.gallery__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  width: 100%;
  height: 34px;
  margin-bottom: 56px;
}
.gallery__pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 16px;
}
.gallery__image {
  width: 100%;
  transition: transform 0.3s ease;
}
.gallery__image:hover {
  transform: scale(1.05);
}
@media (max-width: 743px) {
  .gallery {
    padding-left: 0;
    padding-right: 0;
  }
  .gallery__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .gallery__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .gallery__title {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1260px) {
  .gallery {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.button {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 56px;
  opacity: 1;
  background-color: #F98921;
  border-radius: 8px;
  text-align: center;
  margin-left: 72px;
  margin-right: 72px;
  cursor: pointer;
}
.button:hover {
  background-color: #1B2129;
  color: #FFF;
}
.button:active {
  color: #FFF;
}
.button--primary {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #1B2129;
  border-radius: 8px;
  height: 56px;
  font-family: Manrope, sans-serif;
  font-weight: 900;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0;
  margin: 32px 0 80px;
  cursor: pointer;
}
@media (max-width: 743px) {
  .button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .button--primary {
    height: 60px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1260px) {
  .button {
    width: calc(34% - 120px);
    margin-left: 120px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .button--primary {
    margin: 0;
    width: 100%;
  }
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: start;
  background-color: #FCFAEF;
  padding: 120px 74px 120px 73px;
  box-sizing: border-box;
}
.summary__text1 {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  color: #1B2129;
  margin: 0;
}
.summary__text2 {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #1B2129;
  margin: 0;
}
@media (max-width: 743px) {
  .summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 48px 20px;
  }
  .summary__text1 {
    font-size: 32px;
  }
  .summary__text2 {
    padding: 0 4px 0 0;
  }
}
@media (min-width: 1260px) {
  .summary {
    padding: 120px;
    gap: 60px;
  }
  .summary__text1 {
    font-size: 48px;
    line-height: 48px;
    max-width: 498px;
  }
  .summary__text2 {
    margin: 0;
  }
}

.instruments {
  display: block;
  width: 100%;
  margin-top: 96px;
}

.adress {
  padding-left: 72px;
}
.adress__label {
  display: block;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #9FADC2;
  margin-bottom: 8px;
}
.adress__content {
  display: block;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #3E3E3E;
  text-decoration: none;
  margin-bottom: 24px;
}
.adress__content:hover {
  color: #888;
}
@media (max-width: 743px) {
  .adress {
    padding-left: 20px;
  }
}
@media (min-width: 1260px) {
  .adress {
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
  }
  .adress__label {
    margin-bottom: 0;
  }
  .adress__content {
    margin-bottom: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 72px;
  padding-right: 72px;
}
.form__input {
  border-radius: 8px;
  background-color: #F9F9F9;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  padding-left: 17px;
}
.form__input:hover {
  border: 1px solid #DBDBDB;
}
.form__input:focus {
  border: 2px solid orange;
  outline: none;
}
.form__input::placeholder {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #7E7E83;
}
.form__textarea {
  border-radius: 8px;
  background-color: #F9F9F9;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 16px;
  line-height: 48px;
}
.form__textarea:hover {
  border: 1px solid #DBDBDB;
}
.form__textarea:focus {
  border: 2px solid orange;
  outline: none;
}
.form__textarea::placeholder {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #7E7E83;
}
.form__label:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 100px;
}
@media (max-width: 743px) {
  .form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1260px) {
  .form {
    padding-left: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.main__content {
  padding-left: 72px;
  padding-right: 72px;
}
@media (max-width: 743px) {
  .main__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1260px) {
  .main__content {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 36px 72px 0;
  box-sizing: border-box;
}
.navigation__logo {
  display: inline-block;
}
.navigation__logo img {
  display: block;
  width: 100%;
  max-width: 228px;
  height: auto;
  object-fit: contain;
}
.navigation__icons {
  display: flex;
  align-items: center;
  gap: 27px;
  position: relative;
}
.navigation__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.navigation__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navigation__icon:hover {
  cursor: pointer;
}
@media (max-width: 743px) {
  .navigation {
    padding: 28px 20px 0;
  }
  .navigation__logo img {
    max-width: 152px;
  }
  .navigation__icon {
    width: 18px;
    height: 18px;
  }
  .navigation__icons {
    gap: 20px;
  }
}
@media (min-width: 1260px) {
  .navigation {
    padding-top: 36px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .navigation__logo img {
    max-width: 228px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  padding-top: 24px;
  padding-left: 72px;
  padding-right: 77px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.menu--open {
  transform: translateX(0);
}
.menu__navigation {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 36px;
  padding-top: 36px;
}
.menu__logo {
  display: block;
  height: 16px;
  width: 100%;
}
.menu__icon-image {
  height: 32px;
  width: 32px;
}
.menu__paragraph {
  display: flex;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 48px;
  padding-bottom: 16px;
}
.menu__paragraph:hover {
  cursor: pointer;
}
.menu__call-link {
  padding-bottom: 4px;
  padding-top: 16px;
  text-decoration: none;
  border-bottom: 1px solid #1B2129;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  width: 160px;
  text-transform: uppercase;
  color: #1B2129;
}
.menu__call-link:hover {
  cursor: pointer;
}
@media (max-width: 743px) {
  .menu {
    width: 100%;
    padding: 20px;
  }
  .menu__navigation {
    padding-top: 28px;
  }
  .menu__logo-image {
    height: 16px;
    width: 152px;
  }
  .menu__icon-image {
    height: 16px;
    width: 16px;
  }
}

body.menu-open {
  overflow: hidden;
}

.links {
  padding-top: 56px;
}
.links__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.links__links {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.links__link {
  font-family: Manrope, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0;
  color: #1B2129;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.links__link:hover {
  border-bottom: 1px solid #1B2129;
  cursor: pointer;
}

.phone {
  display: flex;
  gap: 20px;
  position: relative;
}
.phone__label {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1B2129;
  position: absolute;
  right: calc(100% + 20px);
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.phone:hover .phone__label {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.section--button {
  width: 100%;
}
@media (min-width: 1260px) {
  .section--products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
  }
  .section--contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
    padding-left: 120px;
    padding-right: 120px;
  }
  .section--contact .adress {
    grid-column: 2;
    grid-row: 2/2;
  }
  .section--contact .form {
    grid-column: 1;
    grid-row: 2/span 2;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
