/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  color: #fff;
  padding: 40px 20px;
  width: 600px;
}
.title--secondary {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1B2129;
}
.title--third {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1B2129;
}

.header {
  background-image: url("/src/images/header.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.header__top {
  justify-content: space-between;
}
.header__logo {
  left: 72px;
  top: 36px;
  position: absolute;
  justify-content: flex-start;
  justify-content: space-between;
}
.header__title {
  height: 96px;
  width: 392px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fff;
  display: inline-block;
  text-align: start;
  padding-bottom: 64px;
  padding-left: 72px;
  padding-top: 833px;
}
.header__icons {
  display: flex;
  position: absolute;
  top: 36px;
  right: 72px;
  gap: 36px;
  align-items: center;
}
.header__icon {
  height: 18px;
  width: 18px;
  object-fit: contain;
}

.items {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  width: 100%;
  max-width: 600px;
  height: 757;
  opacity: 1;
  border-radius: 4px;
}
.items__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  color: #1B2129;
  text-transform: uppercase;
  width: 100%;
  max-width: 600px;
}
.items__text {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  width: 100%;
  max-width: 600px;
  height: 44px;
}
.items__price {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  width: 100%;
  max-width: 600px;
  height: 22px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
}
.gallery__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  width: 600px;
  height: 34px;
}

.button {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  max-width: 600px;
  height: 56px;
  line-height: 56px;
  opacity: 1;
  border: 2px solid #F98921;
  background-color: #F98921;
  border-radius: 8px;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFF;
}

.summary {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
  max-width: 600px;
  height: 416px;
  background-color: #FCFAEF;
  gap: 24px;
}
.summary__text1 {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  width: 287px;
  color: #1B2129;
}
.summary__text2 {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
  width: 288px;
}

.instruments {
  width: 100%;
  max-width: 600px;
}

.body {
  margin: 0;
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
