/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  width: 100%;
  max-width: 100vh;
}
.title--secondary {
  color: #1B2129;
  padding: 40px 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 32px;
}
.title--third {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1B2129;
  padding-bottom: 56px;
  padding-top: 60px;
  width: 100%;
}
.title--fourth {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0;
  color: #1B2129;
  padding-left: 20px;
  padding-top: 64px;
}
@media (min-width: 320px) and (max-width: 744px) {
  .title--secondary {
    font-size: 32px;
    padding-left: 0;
  }
  .title--third {
    font-size: 34px;
    padding-left: 0;
  }
  .title__fourth {
    padding-top: 64px;
    font-size: 32px;
  }
}
@media (min-width: 744px) and (max-width: 1260px) {
  .title {
    font-size: 40px;
    padding-left: 20;
  }
  .title--fourth {
    padding-left: 20px;
  }
}

.header {
  background-image: url("/src/images/header.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding-left: 72px;
}
.header__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #fff;
  align-items: flex-end;
  margin-right: auto;
  padding-bottom: 64px;
}
@media (min-width: 320px) and (max-width: 744px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
  }
  .header__title {
    padding: 40px 20px;
    font-size: 28px;
    grid-column: 1/4;
    align-self: end;
  }
}
@media (min-width: 744px) and (max-width: 1260px) {
  .header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 36px;
    gap: 24px;
    align-items: start;
    background-position: center center;
  }
  .header__title {
    font-size: 56px;
    grid-column: 1/8;
    align-self: end;
  }
}

.items {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  width: 100%;
  height: 757;
  opacity: 1;
  border-radius: 4px;
  box-sizing: border-box;
}
.items__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  color: #1B2129;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 8px;
  box-sizing: content-box;
}
.items__text {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  width: 100%;
  padding-bottom: 12px;
  box-sizing: border-box;
}
.items__price {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  width: 100%;
  padding-bottom: 56px;
  box-sizing: border-box;
}
.items__image {
  width: 100%;
  padding-bottom: 24px;
}

.gallery {
  width: 100%;
  margin-bottom: 16px;
}
.gallery__title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  width: 100%;
  height: 34px;
  margin-bottom: 56px;
}
.gallery__pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 16px;
}
.gallery__image {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 744px) {
  .gallery__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
  }
  .gallery__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.button {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  height: 56px;
  line-height: 56px;
  opacity: 1;
  border: 2px solid #F98921;
  background-color: #F98921;
  border-radius: 8px;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFF;
  margin: 0 auto;
}
.button--primary {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #1B2129;
  border: 0;
  border-radius: 8px;
  height: 56px;
  font-family: Manrope, sans-serif;
  font-weight: 900;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 744px) {
  .button--primary {
    height: 60px;
  }
}

.summary {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  align-items: center;
  background-color: #FCFAEF;
  gap: 24px;
}
.summary__text1 {
  flex: 1;
  padding-left: 73px;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  color: #1B2129;
}
.summary__text2 {
  flex: 1;
  padding-right: 74px;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
}
@media (min-width: 320px) and (max-width: 744px) {
  .summary {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .summary__text1 {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 32px;
    align-items: start;
    width: 100%;
  }
  .summary__text2 {
    align-items: start;
    width: 100%;
    padding: 0 24px 34px 20px;
  }
}

.instruments {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.adress {
  padding: 80px 174px 80px 74px;
}
.adress__label {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #9FADC2;
  padding-bottom: 8px;
}
.adress__content {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #3E3E3E;
  padding-bottom: 24px;
}
@media (min-width: 320px) and (max-width: 744px) {
  .adress {
    padding: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 72px;
  padding-right: 72px;
}
.form__input {
  border-radius: 8px;
  background-color: #F9F9F9;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  padding-left: 17px;
}
.form__input::placeholder {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #7E7E83;
}
.form__textarea {
  border-radius: 8px;
  background-color: #F9F9F9;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 16px;
  line-height: 48px;
}
.form__textarea::placeholder {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #7E7E83;
}
.form__label:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 100px;
}
@media (min-width: 320px) and (max-width: 744px) {
  .form {
    padding: 50px 20px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.navigation {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  column-gap: 12px;
  grid-column: 1/-1;
  padding: 16px 12px;
  height: auto;
  min-height: 64px;
  width: 100%;
  box-sizing: border-box;
}
.navigation__logo {
  grid-column: 1/2;
  height: auto;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}
.navigation__icons {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 27px;
  min-width: 0;
}
.navigation__icon {
  width: 24px;
  height: 24px;
}
.navigation__icon:hover {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 743px) {
  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
  }
  .navigation__logo img {
    max-height: 16px;
    max-width: 152px;
  }
  .navigation__icon {
    max-height: 18px;
    max-width: 18px;
    gap: 27px;
  }
}
@media (min-width: 744px) and (max-width: 1260px) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 32px;
  }
  .navigation__logo {
    grid-column: 1/2;
    display: block;
    width: 152px;
    height: 16px;
  }
  .navigation__logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .navigation__icons {
    grid-column: 10/12;
    max-height: 18px;
    max-width: 18px;
    gap: 27px;
    padding-right: 36px;
  }
}

.menu {
  display: none;
  background-color: #F9F9F9;
  padding-top: 24px;
  padding-left: 120px;
  padding-right: 124px;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.menu:target {
  display: flex;
  transform: translateX(0);
}
.menu__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 36px;
}
.menu__logo {
  display: block;
  height: 16px;
  width: 100%;
}
.menu__icon-image {
  height: 32px;
  width: 32px;
}
.menu__paragraph {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 48px;
  padding-bottom: 16px;
}
.menu__paragraph:hover {
  cursor: pointer;
}
.menu__call-link {
  padding-bottom: 4px;
  text-decoration: none;
  border-bottom: 1px solid #1B2129;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1B2129;
}
.menu__call-link:hover {
  cursor: url("/src/images/Cursor-Mouse-Mice.png"), auto;
}
@media (min-width: 320px) and (max-width: 743px) {
  .menu {
    display: none;
    width: 100%;
    padding: 20px;
  }
  .menu:target {
    display: block;
  }
}

.links {
  padding-top: 56px;
}
.links__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.links__links {
  display: flex;
  gap: 32px;
}
.links__link {
  font-family: Manrope, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0;
  color: #1B2129;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.links__link:hover {
  border-bottom: 1px solid #1B2129;
  cursor: pointer;
}

.phone-hover {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.phone-hover__number {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}
.phone-hover__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.phone-hover__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.phone-hover:hover .phone-hover__number {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

html {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
