@import './utils/reset.scss';
@import './blocks/title.scss';
@import './blocks/header.scss';
@import './blocks/items.scss';
@import './blocks/gallery.scss';
@import './blocks/button.scss';

.body {
  max-width: 744;
  min-height: 993;
  box-sizing: border-box;
}


