@import './utils/reset';
@import './blocks/title';
@import './blocks/header';
@import './blocks/items';
@import './blocks/gallery';
@import './blocks/button';
@import './blocks/summary';
@import './blocks/instruments';
@import './blocks/adress';
@import './blocks/form';
@import './blocks/main';
@import './blocks/navigation';
@import './blocks/menu';
@import './blocks/links';


.html {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

}

.body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
