@mixin text-style(
  $size,
  $weight,
  $line-height: normal,
  $color: #FFF
) {
  font-family: Manrope, sans-serif;
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}
